In [1]:
import pandas as pd

In [2]:
municipio_ibge = pd.read_excel("base_dados/COD_UF_IGBE.xlsx", sheet_name = "COD_MUNICIPIO")

In [3]:
municipio_ibge = municipio_ibge.rename(columns={"CO_MUNICIPIO": "Código do Município", "Município" : "Nome do Município"})

In [4]:
municipio_ibge['Nome do Município'] = municipio_ibge['Nome do Município'].str.title()

In [5]:
municipio_ibge.head(1)

  Nome do Município  Código do Município
0           Abaiara              2300101

In [6]:
municipio_ibge[municipio_ibge['Código do Município'] == 23004266]

Empty DataFrame
Columns: [Nome do Município, Código do Município]
Index: []

In [7]:
# escolas_2019_5 = pd.read_excel("base_dados/SAEB_IDEB_ESCOLAS_5o_2019.xlsx")
# escolas_2019_9 = pd.read_excel("base_dados/SAEB_IDEB_ESCOLAS_9o_2019.xlsx")
saeb_ideb_5_9 = pd.read_excel("base_dados/SAEB_IDEB_5o_9o.xlsx")

In [8]:
saeb_ideb_5_9 = saeb_ideb_5_9[saeb_ideb_5_9.Rede == "Municipal"]

In [9]:
saeb_ideb_5_9[saeb_ideb_5_9['Código da Escola'] == 23004266]

Empty DataFrame
Columns: [Sigla da UF, Código do Município, Nome do Município, Código da Escola, Nome da Escola, Rede, ano, MT_5o, IDEB_5o, MT_9o, IDEB_9o]
Index: []

In [10]:
# final_5 = pd.merge(escolas_2019_5, municipio_ibge, on='Código do Município')
# final_9 = pd.merge(escolas_2019_9, municipio_ibge, on='Código do Município')
final_5_9 = pd.merge(saeb_ideb_5_9, municipio_ibge, on='Código do Município')

In [11]:
final_5_9.head(1)

,Sigla da UF,Código do Município,Nome do Município_x,Código da Escola,Nome da Escola,Rede,ano,MT_5o,IDEB_5o,MT_9o,IDEB_9o,Nome do Município_y
0,CE,2300101,Abaiara,23168862,CORONEL HUMBERTO BEZERRA EEIF,Municipal,2005,163.95,3.2,NaN,NaN,Abaiara

In [12]:
# final_5_9 = final_5_9.drop(columns=['Nome do Município_y'])
# final_5_9 = final_5_9.rename(columns={"Nome do Município_x": "Nome do Município"})

In [13]:
# final_5 = final_5.drop(columns=['Nome do Município_y'])
# final_5 = final_5.rename(columns={"Nome do Município_x": "Nome do Município"})

In [14]:
# final_9 = final_9.drop(columns=['Nome do Município_y'])
# final_9 = final_9.rename(columns={"Nome do Município_x": "Nome do Município"})

In [15]:
# final_5['Nome da Escola'] = final_5['Nome da Escola'].str.title()
# final_9['Nome da Escola'] = final_9['Nome da Escola'].str.title
final_5_9['Nome da Escola'] = final_5_9['Nome da Escola'].str.title()

In [16]:
final_5_9[final_5_9["Nome da Escola"] == "Eef Francisco das Chagas e Silveira"]

Empty DataFrame
Columns: [Sigla da UF, Código do Município, Nome do Município_x, Código da Escola, Nome da Escola, Rede, ano, MT_5o, IDEB_5o, MT_9o, IDEB_9o, Nome do Município_y]
Index: []

In [17]:
final_5_9[final_5_9["Código da Escola"] == 23004266]

Empty DataFrame
Columns: [Sigla da UF, Código do Município, Nome do Município_x, Código da Escola, Nome da Escola, Rede, ano, MT_5o, IDEB_5o, MT_9o, IDEB_9o, Nome do Município_y]
Index: []

In [18]:
cactus20 = pd.read_excel("base_dados/Cactus _ InsperData.xlsx", sheet_name = "Escolas 2020")
cactus19 = pd.read_excel("base_dados/Cactus _ InsperData.xlsx", sheet_name = "Escolas 2019")

In [28]:
cactus20_2 = pd.read_excel("base_dados/Escolas - Expansão 2020.2.xlsx")

In [36]:
cactus_20 = cactus20[(cactus20.Inep >= 23000000) & (cactus20.Inep < 24000000)]
cactus_20 = cactus20.drop(columns = ["Estado"])

In [39]:
cactus20_f = pd.concat([cactus20_2, cactus_20], ignore_index=True, copy = False)

In [40]:
cactus20_f

     Municipio                                             Escola        Inep
0     Beberibe  Centro de Ed. Municipal Betesda de E. Fundamental  23059273.0
1     Beberibe                   E.M.E.F. ISABEL PINHEIRO DE LIMA  23059133.0
2     Beberibe                    EMEF BENEDITO EVARISTO PINHEIRO  23059265.0
3     Beberibe                      EMEF Bom Jesus dos Navegantes  23059079.0
4     Beberibe                    EMEF GERMANO JOSÉ DO NASCIMENTO  23058579.0
..         ...                                                ...         ...
161    Panelas                                  EM Jose Felizardo  26086034.0
162    Panelas                                     EM Rui Barbosa  26085925.0
163  São Paulo              Carlos Maximiliano Pereira Dos Santos  35003840.0
164  São Paulo                                    Kyrillos Doutor  35003967.0
165  São Paulo                   Reinaldo Ribeiro Da Silva Doutor  35003463.0

[166 rows x 3 columns]

In [54]:
cactus20_f.to_csv("base_dados/escolas_cactus_20_completo.csv")

In [55]:
cactus20_f.head(2)

  Municipio                                             Escola        Inep
0  Beberibe  Centro de Ed. Municipal Betesda de E. Fundamental  23059273.0
1  Beberibe                   E.M.E.F. ISABEL PINHEIRO DE LIMA  23059133.0

In [56]:
cactus20_f[cactus20_f["Inep"] == 23000791]

   Municipio                 Escola        Inep
61    Acaraú  Dona Eulina Magalhães  23000791.0

In [57]:
print(cactus20_f.head(2))
print("--------------------------------------------------")
print(cactus19.head(2))

  Municipio                                             Escola        Inep
0  Beberibe  Centro de Ed. Municipal Betesda de E. Fundamental  23059273.0
1  Beberibe                   E.M.E.F. ISABEL PINHEIRO DE LIMA  23059133.0
--------------------------------------------------
  Estado Municipio                  Escola  Código INEP
0  Ceará    Acaraú   Dona Eulina Magalhães   23000791.0
1  Ceará    Acaraú  Deputado José Filomeno   23000520.0

In [58]:
cactus20_municipio = list(cactus20_f.Municipio)
cactus20_inep = list(cactus20_f.Inep)
cactus19_inep = list(cactus19["Código INEP"])

In [59]:
lista_cactus_19_20_5_9 = []
for index, row in final_5_9.iterrows():
    if row['Código da Escola'] in cactus19_inep:
        lista_cactus_19_20_5_9.append("cactus19")
    else:
        lista_cactus_19_20_5_9.append("não cactus")
        
final_5_9["cactus"] = lista_cactus_19_20_5_9

In [60]:
final_5_9["cactus"].value_counts()

não cactus    26624
cactus19        368
Name: cactus, dtype: int64

In [61]:
# lista_cactus_19_20_5 = []
# for index, row in final_5.iterrows():
#     if row['Código da Escola'] in cactus19_inep:
#         lista_cactus_19_20_5.append("cactus19_5")
#         if row['Código da Escola'] ==  23000708:
#             print("oi")
#     elif row['Código da Escola'] in cactus20_inep:
#         lista_cactus_19_20_5.append("cactus20_5")
    
#     else:
#         lista_cactus_19_20_5.append("não cactus20_5")
        
# final_5["cactus"] = lista_cactus_19_20_5

In [62]:
# lista_cactus_19_20_9 = []
# for index, row in final_9.iterrows():
#     if row['Código da Escola'] in cactus19_inep:
#         lista_cactus_19_20_9.append("cactus19_9")
#     elif row['Código da Escola'] in cactus20_inep:
#         lista_cactus_19_20_9.append("cactus20_9")
#     else:
#         lista_cactus_19_20_9.append("não cactus20_9")
        
# final_9["cactus"] = lista_cactus_19_20_9

In [63]:
# print(final_5["cactus"].value_counts())
# print("-------------------------")
# print(final_9["cactus"].value_counts())
print("-------------------------")
print(final_5_9["cactus"].value_counts())

-------------------------
não cactus    26624
cactus19        368
Name: cactus, dtype: int64

In [64]:
final_5_9[final_5_9["Código da Escola"] == 23000074]

,Sigla da UF,Código do Município,Nome do Município_x,Código da Escola,Nome da Escola,Rede,ano,MT_5o,IDEB_5o,MT_9o,IDEB_9o,Nome do Município_y,cactus
104,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2005,NaN,NaN,NaN,NaN,Acaraú,não cactus
105,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2007,NaN,NaN,NaN,NaN,Acaraú,não cactus
106,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2009,189.12,4.5,NaN,NaN,Acaraú,não cactus
107,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2011,NaN,NaN,NaN,NaN,Acaraú,não cactus
108,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2013,NaN,NaN,NaN,NaN,Acaraú,não cactus
109,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2015,239.94,6.4,NaN,NaN,Acaraú,não cactus
110,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2017,255.50,7.1,NaN,NaN,Acaraú,não cactus
111,CE,2300200,Acaraú,23000074,Anselmo Jose Da Silveira Eeief,Municipal,2019,273.86,7.8,NaN,NaN,Acaraú,não cactus

In [65]:
cactus20_final = final_5_9[final_5_9.cactus == 'cactus20_5_9']

In [66]:
cactus20_final["Código da Escola"].value_counts()

Series([], Name: Código da Escola, dtype: int64)

In [73]:
# final_5.to_csv("base_dados/SAEB_IDEB_ESCOLAS_5o_2019_cactus.csv")
# final_9.to_csv("base_dados/SAEB_IDEB_ESCOLAS_9o_2019_cactus.csv")
final_5_9.to_csv("base_dados/SAEB_IDEB_ESCOLAS_5o_9o_2019_cactus.csv")

In [37]:
classe_escola = pd.read_csv("base_dados/escolas_2017.csv")
classe_escola = classe_escola.rename(columns={"ID_MUNICIPIO": "Código do Município", "ID_ESCOLA" : "Código da Escola"})
classe_escola.head(1)

,ID_PROVA_BRASIL,Código do Município,Código da Escola,NIVEL_SOCIO_ECONOMICO,MEDIA_5EF_MT,MEDIA_9EF_MT
0,2017,2300101,23168862,Grupo 2,226.24,251.78

In [38]:
socioeconomico = pd.merge(final_5_9, classe_escola, on='Código da Escola')

In [39]:
socioeconomico = socioeconomico.drop(columns=['Nome do Município_y'])
socioeconomico = socioeconomico.rename(columns={"Nome do Município_x": "Nome do Município"})
socioeconomico = socioeconomico.drop(columns=['Código do Município_y'])
socioeconomico = socioeconomico.rename(columns={"Código do Município_x": "Código do Município"})

In [40]:
socioeconomico['Nome da Escola'] = socioeconomico['Nome da Escola'].str.title()
cactus20_municipio = list(cactus20.Municipio)
cactus20_inep = list(cactus20.Inep)
cactus19_inep = list(cactus19["Código INEP"])

In [43]:
socio = []
for index, row in socioeconomico.iterrows():
    if row['Código da Escola'] in cactus19_inep:
        socio.append("cactus19")
    else:
        socio.append("não cactus")
        
socioeconomico["cactus"] = socio

In [44]:
socioeconomico["cactus"].value_counts()

não cactus    12112
cactus19        280
Name: cactus, dtype: int64

In [53]:
socioeconomico["NIVEL_SOCIO_ECONOMICO"].value_counts()

Grupo 2    4480
Grupo 3    1888
Grupo 1    1496
Grupo 4       8
Name: NIVEL_SOCIO_ECONOMICO, dtype: int64

In [55]:
socioeconomico_n = socioeconomico[(socioeconomico["NIVEL_SOCIO_ECONOMICO"] != "Grupo 4")]

In [56]:
socioeconomico_n["NIVEL_SOCIO_ECONOMICO"].value_counts()

Grupo 2    4480
Grupo 3    1888
Grupo 1    1496
Name: NIVEL_SOCIO_ECONOMICO, dtype: int64

In [57]:
socioeconomico.to_csv("base_dados/SAEB_IDEB_SOCIOECONOMICOS_cactus.csv")

*oi*